<IfModule mod_rewrite.c>
    Options -Multiviews
    Options +FollowSymLinks
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

<IfModule mod_speling.c>
	CheckSpelling On
	CheckCaseOnly On
</IfModule>